/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  height: 300px;
  width: 300px;
  object-fit: contain;
}

body {
  background-color: #24282c;
}

.saiyans {
  background-color: #f7f9f8;
}
.container {
  max-width: 900px;
  width: 100%;
  padding: 4em;
  margin: 5em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 87px;
}

.scouter {
  position: relative;
}

.btn {
  position: absolute;
  right: 104px;
  bottom: 99px;
  z-index: 2;
  padding: 0.5em;
  background-color: red;
  color: aliceblue;
  font-size: larger;
  cursor: pointer;
}
