* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(184, 184, 184);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  flex-direction: column;
  gap: 20px;
}

img {
  width: 500px;
  height: 530px;
  object-fit: cover;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
span {
  font-size: 1.7rem;
}
.carousel {
  height: 530px;
  width: 500px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.info {
  text-align: center;
}

.scouter {
  display: flex;
  justify-content: space-between;
}

.scouter img {
  width: 300px;
  height: 200px;
  object-fit: contain;
  position: relative;
}

.btn {
  color: rgb(236, 97, 16);
  font-size: 1.6rem;
  cursor: pointer;
  position: absolute;
  top: 181px;
  right: 343px;
}
